= form_for(@invoice) do |f|
  - if @invoice.errors.any?
    #error_explanation
      %h2
        = pluralize(@invoice.errors.count, "error")
        prohibited this invoice from being saved:
      %ul
        - @invoice.errors.full_messages.each do |msg|
          %li #{msg}
  
  
  
  = f.label :client
  = f.select :client_id, current_user.clients.data_for_select, :prompt => "Choose client"
  %br
  
  = f.label :date
  = f.date_select :date
  %br

  = f.label :invoice_id
  = f.text_field :invoice_id
  %br
  = f.label :tax_id
  = f.select :tax_id, current_user.tax_data_for_select, :include_blank => true
  %br
  #items_fields
    = f.fields_for :items do |builder|
      = render "item_fields", :f => builder
    = link_to_add_fields "Add line", f, :items
  = f.submit